target/
.cache
.classpath
.project
.settings/

*.class
*.log
*~

# sbt specific
boot/
lib_managed/
target/
.history
dist/*
src_managed/
project/boot/
project/plugins/project/

*fastopt.js
*fastopt.js.map
*opt.js
*.listings
