@(devMode: Boolean)

@main("Example") {

<section class="module">
    
  <ol id="discussion">
    <li class="other">
      <div class="avatar"></div>
      <div class="messages">
        <p>yeah, they do early flights cause they connect with big airports.  they wanna get u to your connection</p>
      </div>
    </li>
    <li class="self">
      <div class="avatar"></div>
      <div class="messages">
        <p>That makes sense.</p>
      </div>
    </li>
  </ol>
  <form id="msgform" class="form-horizontal" >
    <input id="msgtext" type="text" placeholder="Send a message">
  </form>
</section>
}

@if(devMode) {
<script src="@routes.Assets.at("javascripts/webrtc-full-stack-client-fastopt.js")" type="text/javascript"></script>
} else {
<script src="@routes.Assets.at("javascripts/webrtc-full-stack-client-opt.js")" type="text/javascript"></script>
}
<script type="text/javascript">
Client().startup();
</script>
