@(devMode: Boolean, javascriptRoute: Html)

<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>WebSocket Chat Example</title>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
    <link rel="stylesheet"  href="@routes.Assets.at("stylesheets/main.css")">
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("sockjs.min.js"))'></script>
    <script type="text/javascript" src="@routes.Assets.at(s"javascripts/chatwebsocketjs-${if(devMode) "fastopt" else "opt"}.js")"></script>
  </head>
  <body>
    <div class="container">
      <section class="module">
      <ol id="discussion">
        <div id="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
        </div>
      </ol>
      <form id="msgform" class="form-horizontal hidden">
        <input id="msgtext" type="text" placeholder="Send a message">
      </form>
      </section>
    </div>
    <script type="text/javascript">
    @javascriptRoute
    Client().startup();
    </script>
  </body>
</html>
